infra/n8n/workflows/wiki-ingest-watcher.json
{
  "name": "Wiki Ingest — Google Drive Watcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.nexus.ethra.com.br/api/v1/auth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "slug", "value": "minha-org" },
            { "name": "password", "value": "minha-org" }
          ]
        },
        "options": {}
      },
      "id": "login",
      "name": "Login Nexus API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "search",
        "filter": "'1-AQIJtJ0ozpL9S03ZtElOqUOrEF-vf2T' in parents and trashed = false",
        "options": {
          "fields": "id,name,mimeType,modifiedTime"
        }
      },
      "id": "list-files",
      "name": "Listar Arquivos Novos",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [680, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive Nexus"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const token = $('Login Nexus API').item.json.token;\nconst cutoff = new Date(Date.now() - 20 * 60 * 1000);\n\nconst mimeToFileType = {\n  'application/pdf': 'pdf',\n  'application/vnd.openxmlformats-officedocument.wordprocessingml.document': 'docx',\n  'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet': 'xlsx',\n  'text/markdown': 'md',\n  'text/plain': 'txt'\n};\n\nconst results = [];\nfor (const item of $input.all()) {\n  const file = item.json;\n  const modified = new Date(file.modifiedTime);\n  if (modified < cutoff) continue;\n  const fileType = mimeToFileType[file.mimeType];\n  if (!fileType) continue;\n  results.push({ json: { ...file, file_type: fileType, token } });\n}\n\nreturn results;"
      },
      "id": "filter-recent",
      "name": "Filtrar recentes e tipo suportado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "has-files",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-files",
      "name": "Tem arquivos novos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "options": {}
      },
      "id": "download-file",
      "name": "Download do arquivo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1340, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive Nexus"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const binaryKey = Object.keys($binary)[0];\nif (!binaryKey) throw new Error('Arquivo sem conteúdo binário');\n\nconst base64 = $binary[binaryKey].data;\nconst fileName = $json.name;\nconst fileType = $json.file_type;\nconst fileId = $json.id;\nconst token = $json.token;\n\nreturn [{ json: {\n  content_base64: base64,\n  file_type: fileType,\n  source_name: fileName,\n  source_url: `https://drive.google.com/file/d/${fileId}`,\n  source_origin: 'google_drive',\n  token\n} }];"
      },
      "id": "prepare-payload",
      "name": "Preparar payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.nexus.ethra.com.br/api/v1/wiki/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.token }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content_base64\": \"{{ $json.content_base64 }}\",\n  \"file_type\": \"{{ $json.file_type }}\",\n  \"source_name\": \"{{ $json.source_name }}\",\n  \"source_url\": \"{{ $json.source_url }}\",\n  \"source_origin\": \"{{ $json.source_origin }}\"\n}",
        "options": { "timeout": 120000 }
      },
      "id": "call-ingest",
      "name": "POST /wiki/ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 200]
    },
    {
      "parameters": {},
      "id": "no-files",
      "name": "Sem arquivos novos",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Every 15 minutes": {
      "main": [[{ "node": "Login Nexus API", "type": "main", "index": 0 }]]
    },
    "Login Nexus API": {
      "main": [[{ "node": "Listar Arquivos Novos", "type": "main", "index": 0 }]]
    },
    "Listar Arquivos Novos": {
      "main": [[{ "node": "Filtrar recentes e tipo suportado", "type": "main", "index": 0 }]]
    },
    "Filtrar recentes e tipo suportado": {
      "main": [[{ "node": "Tem arquivos novos?", "type": "main", "index": 0 }]]
    },
    "Tem arquivos novos?": {
      "main": [
        [{ "node": "Download do arquivo", "type": "main", "index": 0 }],
        [{ "node": "Sem arquivos novos", "type": "main", "index": 0 }]
      ]
    },
    "Download do arquivo": {
      "main": [[{ "node": "Preparar payload", "type": "main", "index": 0 }]]
    },
    "Preparar payload": {
      "main": [[{ "node": "POST /wiki/ingest", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "wiki" },
    { "name": "ingest" },
    { "name": "google-drive" }
  ]
}
